<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <button
      class="layout-menu-button layout-topbar-action"
      (click)="layoutService.onMenuToggle()"
    >
      <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo" routerLink="/">
      <span class="flex items-center gap-4" style="height: 4rem">
        <img class="change-color " src="assets/img/animal.png" style="height: 100%" alt="LOGO" /><span
          class="hidden md:block"
          >PawPawsy</span
        ></span
      >
    </a>
  </div>

  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <div class="hidden md:block">
        <p-iconfield iconPosition="left">
          <input
            pInputText
            class="w-96 h-10 rounded-xl"
            type="text"
            placeholder="Search"
            [(ngModel)]="searchText"
            (keydown.enter)="searchItems()"
            (click)="searchedItems()"
          />
          <p-inputicon class="pi pi-search" (click)="searchItems()" />
        </p-iconfield>
        
      </div>
      <div class="block md:hidden">
        <p-drawer
          [header]="SearchBar"
          [(visible)]="search"
          position="top"
          [style]="{'height': 'auto'}"
        >
          <!-- ,'background-image': 'url(assets/img/sideB1.jpg)',
        'background-size': 'cover',
        'background-position': 'top',
        'background-repeat': 'no-repeat',
        'background-attachment': 'fixed' -->
          <p-iconfield iconPosition="left" class="mb-2">
            <input
              pInputText
              class="w-full h-10 rounded-xl"
              type="text"
              placeholder="Search"
              [(ngModel)]="searchText"
              (keydown.enter)="searchItems()"
              
            />
            <p-inputicon class="pi pi-search" (click)="searchItems()" />
          </p-iconfield>
          <p-listbox *ngIf="searches" [options]="searches" [(ngModel)]="selectedsearch" optionLabel="search" class="w-full " (click)="itemselected()" />

        </p-drawer>
        <p-button
          (click)="toggleSearchPhone()"
          icon="pi pi-search"
          size="large"
        />
        
      </div>

    </div>

    <button
      class="layout-topbar-menu-button layout-topbar-action"
      pStyleClass="@next"
      enterFromClass="hidden"
      enterActiveClass="animate-scalein"
      leaveToClass="hidden"
      leaveActiveClass="animate-fadeout"
      [hideOnOutsideClick]="true"
    >
      <i class="pi pi-ellipsis-v"></i>
    </button>

    <div class="layout-topbar-menu hidden lg:block">
      <div class="layout-topbar-menu-content">
        <button
          type="button"
          class="layout-topbar-action"
          (click)="toggleDarkMode()"
        >
          <i
            [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"
          ></i>
          <span>{{themeMode}}</span>
        </button>
        <div class="relative">
          <button
            class="layout-topbar-action layout-topbar-action-highlight"
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="animate-scalein"
            leaveToClass="hidden"
            leaveActiveClass="animate-fadeout"
            [hideOnOutsideClick]="true"
          >
            <i class="pi pi-palette"></i>
            <span>Themes</span>
          </button>
          <app-configurator />
        </div>
        <button
          *ngIf="!logedin"
          type="button"
          class="layout-topbar-action"
          routerLink="/login"
        >
          <i class="pi pi-sign-in"></i>
          <span>Login</span>
        </button>
        <span class="flex items-center gap-1">
          <button type="button" class="layout-topbar-action">
            <i class="pi pi-user"></i>

            <span>Profile</span>
          </button>
          <span class="hidden md:block ">{{username}}</span>
        </span>
        <button
          type="button"
          *ngIf="logedin"
          class="layout-topbar-action"
          (click)="logout()"
        >
          <i class="pi pi-sign-out"></i>
          <span>Logout</span>
        </button>
      </div>
    </div>
  </div>
</div>
