<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <button
      class="layout-menu-button layout-topbar-action"
      (click)="layoutService.onMenuToggle()"
    >
      <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo" routerLink="/">
      <span class="flex items-center gap-4" style="height: 4rem">
        <img
          class="change-color"
          src="assets/img/animal.png"
          style="height: 100%"
          alt="LOGO"
        /><span class="hidden md:block">PawPawsy</span></span
      >
    </a>
  </div>

  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <div class="hidden md:block">
        <p-button
          label="Search  "
          icon="pi pi-search"
          severity="contrast"
          (click)="searchedItems()"
          iconPos="left"
          [style]="{'width': '150px','text-align':'justify'}"
          rounded
          outlined
        />
        <!-- <p-iconfield iconPosition="left">
          <input
            pInputText
            class="h-10 rounded-xl"
            type="text"
            placeholder="Search"
            [(ngModel)]="searchText"
            (keydown.enter)="searchItems()"
            (click)="visible = true"
          />
          <p-inputicon class="pi pi-search" (click)="searchItems()" />
        </p-iconfield> -->
        <p-dialog
          [(visible)]="visible"
          [modal]="true"
          position="top"
          [style]="{ width: '50rem' }"
          [dismissableMask]="true"
        >
          <ng-template #header>
            <div class="inline-flex items-center justify-center gap-2">
              <img
                src="assets/img/animal.png"
                alt="LOGO"
                class="change-color h-10 w-10 rounded-full"
              />
              <span class="font-bold font-sans text-xl">{{SearchBar}}</span>
            </div>
          </ng-template>
          <p-iconfield iconPosition="left">
            <input
              pInputText
              class="h-10 w-full rounded-xl"
              type="text"
              placeholder="Search"
              [(ngModel)]="searchText"
              (keydown.enter)="searchItems()"
            />
            <p-inputicon class="pi pi-search" (click)="searchItems()" />
          </p-iconfield>
          <div class="mt-2">
            <p-listbox
              *ngIf="searches"
              [options]="searches"
              [(ngModel)]="selectedsearch"
              optionLabel="search"
              class="w-full mt-2"
              (click)="itemselected()"
            >
              <ng-template let-search #item>
                <div class="flex items-center gap-3">
                  <i class="pi pi-history"></i>
                  <div>{{ search.search }}</div>
                </div>
              </ng-template>
            </p-listbox>
          </div>
        </p-dialog>
      </div>
      <div class="block md:hidden">
        <p-drawer
          [header]="SearchBar"
          [(visible)]="search"
          position="top"
          [style]="{'height': 'auto'}"
        >
          <!-- ,'background-image': 'url(assets/img/sideB1.jpg)',
        'background-size': 'cover',
        'background-position': 'top',
        'background-repeat': 'no-repeat',
        'background-attachment': 'fixed' -->
          <p-iconfield iconPosition="left" class="mb-2">
            <input
              pInputText
              class="w-full h-10 rounded-xl"
              type="text"
              placeholder="Search"
              [(ngModel)]="searchText"
              (keydown.enter)="searchItems()"
            />
            <p-inputicon class="pi pi-search" (click)="searchItems()" />
          </p-iconfield>
          <p-listbox
            *ngIf="searches"
            [options]="searches"
            [(ngModel)]="selectedsearch"
            optionLabel="search"
            class="w-full"
            (click)="itemselected()"
          />
        </p-drawer>
        <p-button
          (click)="toggleSearchPhone()"
          icon="pi pi-search"
          size="large"
        />
      </div>
    </div>

    <button
      class="layout-topbar-menu-button layout-topbar-action"
      pStyleClass="@next"
      enterFromClass="hidden"
      enterActiveClass="animate-scalein"
      leaveToClass="hidden"
      leaveActiveClass="animate-fadeout"
      [hideOnOutsideClick]="true"
    >
      <i class="pi pi-ellipsis-v"></i>
    </button>

    <div class="layout-topbar-menu hidden lg:block">
      <div class="layout-topbar-menu-content">
        <button
          type="button"
          class="layout-topbar-action"
          (click)="toggleDarkMode()"
        >
          <i
            [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"
          ></i>
          <span>{{themeMode}}</span>
        </button>
        <div class="relative">
          <button
            class="layout-topbar-action layout-topbar-action-highlight"
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="animate-scalein"
            leaveToClass="hidden"
            leaveActiveClass="animate-fadeout"
            [hideOnOutsideClick]="true"
          >
            <i class="pi pi-palette"></i>
            <span>Themes</span>
          </button>
          <app-configurator />
        </div>
        <button
          *ngIf="!logedin"
          type="button"
          class="layout-topbar-action"
          routerLink="/login"
        >
          <i class="pi pi-sign-in"></i>
          <span>Login</span>
        </button>
        <span class="flex items-center gap-1">
          <button type="button" class="layout-topbar-action">
            <i class="pi pi-user"></i>

            <span>Profile</span>
          </button>
          <span class="hidden md:block">{{username}}</span>
        </span>
        <button
          type="button"
          *ngIf="logedin"
          class="layout-topbar-action"
          (click)="logout()"
        >
          <i class="pi pi-sign-out"></i>
          <span>Logout</span>
        </button>
      </div>
    </div>
  </div>
</div>
