.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.678);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  .ldiv {
    height: 200px
  }
  .limg{
    height: 100%;
    filter: invert(1);
    animation: gone 1s ease-in-out infinite;
  }
  
  @keyframes gone {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  // Spinner animation
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }