<app-floating-configurator />
<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-10 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">
                    <img src="assets/img/animal.png" alt="logo" class="w-32 h-32 mx-auto" />
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Welcome to Pawpawsy!</div>
                    <span class="text-muted-color font-bold" style="font-size: large;">Register</span>
                </div>

                <div>
                    <label for="first_name" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Username :</label>
                    <input pInputText id="first_name" type="text" placeholder="First name" class="w-full md:w-[30rem] mb-8 mr-2" [(ngModel)]="first_name" />
                    <input pInputText id="last_name" type="text" placeholder="Last name" class="w-full md:w-[30rem] mb-8" [(ngModel)]="last_name" />

                    <label for="email" class="block text-surface-900 dark:text-surface-0 text-xl font-medium">Email address :</label>
                    <input pInputText id="email" type="email" placeholder="email" class="w-full md:w-[62rem] mb-8" [(ngModel)]="email" />

                    <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Create Password :</label>
                    <p-password id="password1" [(ngModel)]="password" placeholder="Password" [toggleMask]="true" styleClass="mb-4" [fluid]="true" [feedback]="false"></p-password>

                    <label for="c_password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Confirm Password :</label>
                    <p-password id="c_password" [(ngModel)]="confirm_password" placeholder="Confirm Password" [toggleMask]="true" styleClass="mb-4" [fluid]="true" [feedback]="false"></p-password>
                    <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                        <div class="flex items-center">
                            <p-checkbox [(ngModel)]="checked" id="rememberme1" binary class="mr-2"></p-checkbox>
                            <label for="rememberme1">agree with all the terms and conditions</label>
                        </div>
                        <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">Sign in?</span>
                    </div>
                    <p-button label="Register" styleClass="w-full" routerLink="/"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>