<div class="card option-card w-1/2 md:w-72 h-96">
  <div class="justify-content-between">
    <div class="align-items-center">
      <div class="">
        <img [src]="image" style="height: 100%" />
      </div>
      <div>
        <div class="text-xl mt-44 p-2">
          {{ optionName }}
        </div>
        <div class="text-2xl">
          {{ price | currency : "INR" }}
        </div>
        <div class="text-xl">Delivery Date: {{ Delivery_date }}</div>
        <div class="mt-7">
          <button
            pButton
            type="button"
            label="Add to Cart"
            icon="pi pi-shopping-cart"
            class="p-button-raised p-button-rounded w-"
          ></button>
          <button
            pButton
            type="button"
            label="Remove from Cart"
            icon="pi pi-times"
            class="p-button-raised p-button-rounded ml-7"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
